.recipe-title h2{
  font-size: 46px;
  letter-spacing: 1.1px;
  margin-bottom: 0;
}

a{
  color: $black-two;
}

h3,h4{
  font-family: $header-font;
  text-transform: uppercase;
}

.recipe p{
  color: $black;
  margin: 2% 0;
}

.posted-by{
  display: flex;
}

.add-divider::after{
  content: '|';
  padding: 0 5px;
}

.tags,
.share{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a{
    padding-left: 5px;
  }
}

.share a{
  margin: 10px;
  font-size: 20px;
}

.author-container{
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-img{
  width: 20%;
}

.author-txt{
  background-color: lighten($color: $brown-grey, $amount: 30);
  flex-basis: 75%;
  flex-grow: 2.5;
  padding: 4%;
  margin-left: 5%;
}

.related-posts .line{
  margin: 5% 0;
  width: 80%;
}
.related-posts{
  h4{
    margin-bottom: 0;
  }
}

.related-posts2{
  display: flex;
  justify-content: space-between;
}

.related{
  width: 31%;
}

.related-links{
  display: flex;
}