.contact-main{
  display: flex;
  height: 100%;
}

.contact-form{
  width: 60%;
  padding-left: 15%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;
  margin-bottom: 20px;
  margin-top: 5%;
  input,textarea{
    width: 100%;
    background: lighten($color: $brown-grey, $amount: 30);
    border: none;
    color: darken($color: $brown-grey, $amount: 30);
    padding: 15px;
  }
}

.send-button{
  font-family: $header-font;
  font-size: 14px;
  text-transform: uppercase;
  color: $green;
  background: white;
  border: none;
  transition: all 0.4s ease-out;
  i{
    font-size: 18px;
    padding-left: 3px;
    padding-top: 2px;
  }
}

.send-button:hover,
.send-button:focus{
  color: $brown-grey;
}

.contact-subject,
.contact-message{
  grid-column-start: span 2;
}

.contact-details{
  width: 40%;
  background-color: lighten($color: $brown-grey, $amount: 30);
  p{
    color: $black;
  }
}

.contact-me{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 5% 40% 5% 5%;
}

.weekdays{
  color: $black-two;
  text-transform: uppercase;
  font-family: $header-font;
}

.italicize{
  font-style: italic;
}

.working-hours p{
  margin: 0;
}

.working-hours .italicize,
.contact-info p{
  color: darken($color: $brown-grey, $amount: 30);
}
