footer{
  background: $black;
  font-size: 13px;
  color: $brown-grey;
}

footer h3{
  font-family: $header-font;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding-bottom: 3%;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}

.footer-contact,
.footer-recent,
.subscribe{
  width: 25%;
}

footer .logo{
  font-size: 36px;
  color: $green;
}

.subscribe form{
  display: flex;
  padding-bottom: 5%;
}

.subscribe-email{
  background: lighten($color: $black, $amount: 10);
  border: none;
  font-family: $body-font;
  font-style: italic;
  color: $brown-grey;
  padding-left: 5%;
  height: 40px;
  display: block;
  width: calc(100% - 40px);
}

footer button{
  height: 40px;
  width: 40px;
  margin: 0;
  background: $green;
  border: none;
  font-size: 20px;
  color: white;
}

.social-media{
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.social-media a{
  color: white;
  font-size: 14px;
}
.copyright{
  background: $black-two;
}

.polar{
  color: $green;
  text-transform: uppercase;
}