h2{
  font-family: $header-font;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 36px;
  text-transform: uppercase;
  color: $black-two;
}

.recipes {
  p {
  color: $black;
  }
  .txt-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.textbox-p{
  width: 70%;
  text-align: center;
  padding: 3% 0;
}

.recipes .txt-container,
.category-txt,
.recipes .img-container{
  width: 50%;
}

.green-line{
  border-bottom: 3px solid $green;
  width: 40px;
}

.click-me{
  background: $green;
  color: white;
  font-family: $header-font;
  text-transform: uppercase;
  padding: 13px 27px;
  border: 2px solid transparent;
  transition: all 0.4s ease-out;
}

.click-me:hover{
  background: white;
  color: $green;
  border: 2px solid $green;
}

.img-txt-container{
  display: flex;
}

.category-txt{
  color: $black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  padding-right: 3%;
  padding-top: 2%;;
  background: lighten($color: $brown-grey, $amount: 30);
  h3{
    color: $black-two;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}

.category{
  width: 100%;
  padding-left: 20%;
  p{
    width: 100%;
  }
}

.side-icon{
  font-size: 30px;
  margin-left: -30px;
}

.img-absolute{
  position: relative; 
  width: 30%;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .txt-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      text-align: center;
      color: $brown-grey;
    }
  }
}

.sticker{
  position: absolute;
  width: 40%;
  top: -40%;
  right: -15%;
}

.new-line{
  display: block;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
