// media queries

@media (max-width: 1215px) {
  .top-bar {
    flex-direction: column;
  }

  .img-category {
    flex-direction: column;
    align-items: center;
    div.img-container {
      width: 100%;
    }
  }

  .category-txt {
    width: 100%;
    padding: 5%;
  }
}

/* landscape tablet and small desktops */
@media (max-width: 940px) {
  .recipes .img-container {
    width: 70%;
  }

  .recipes .txt-container {
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }

  .about{
    height: 100%;
    margin: 20% 0;
  }

  .author-img {
    width: 48%;
  }

  .related-posts2 {
    flex-wrap: wrap;
  }

  .related {
    width: 45%;
  }

  .comment .image {
    width: 15%;
  }

  .comment-text {
    width: 80%;
  }

  .contact-me{
    padding-right: 20%;
  }
}

@media (max-width: 900px){
  .top-bar {
    flex-direction: row;
  }

  .bars {
    display: block;
    margin-right: 50px;
  }

  .top-nav ul {
    display: none;
  }

  .dropdown:hover .top-nav ul,
  .dropdown:focus .top-nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    top: 40px;
    right: 50px;
  }

  .cart a::after {
    right: 0;
    bottom: 0;
  }
}


/* landscape phones and portrait tablets */
@media (max-width: 768px) {

  .img-txt-container {
    flex-direction: column;
    align-items: center;
  }

  .recipes .img-container {
    width: 100%;
  }

  .recipes .txt-container {
    margin-bottom: 3%;
    width: 80%;
  }

  .img-top {
    flex-direction: column-reverse;
  }

  .img-absolute {
    width: 50%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .comment-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
  }

  .website {
    grid-column-start: span 2;
  }

  .comment-box {
    grid-column-start: span 2;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-contact,
  .footer-recent,
  .subscribe {
    width: 80%;
    text-align: center;
  }

  .social-media {
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
    a {
      font-size: 20px;
    }
  }
}

@media (max-width: 700px){
  .contact-main{
    flex-direction: column;
  }

  .contact-form,
  .contact-details{
    width: 100%;
    padding: 10%;
  }

  .contact-me{
    padding: 0
  }
}




/* landscape phones and down */
@media (max-width: 480px) {
  .top-bar {
    flex-direction: column;
    padding-top: 15%;
  }

  .bars {
    margin-right: 0;
  }

  .dropdown:hover .top-nav ul,
  .dropdown:focus .top-nav ul {
    top: 160px;
    right: 135px;
  }

  .textbox-p {
    width: 100%;
  }

  .recipes .txt-container {
    width: 80%;
  }

  .category-txt {
    grid-template-columns: 1fr;
  }

  .category {
    padding: 3% 0% 3% 10%;
  }

  .img-absolute {
    width: 70%;
  }

  .about .txt-container {
    width: 80%;
  }

  .quote {
    font-size: 18px;
  }

  .open-quote {
    left: -20%;
  }

  .left-right {
    width: 50%;
  }

  .recipe-title {
    text-align: center;
  }

  .posted-by {
    flex-direction: column;
    justify-content: center;
    .add-divider::after {
      display: none;
    }
  }

  .tags {
    flex-wrap: wrap;
  }

  .author-container {
    flex-direction: column;
  }

  .author-img,
  .author-txt {
    width: 100%;
    margin: 5% 0;
  }

  .related-posts2 {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .related {
    width: 100%;
    margin: 5% 0;
  }

  .comment-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr;
  }

  .website,
  .comment-box {
    grid-column-start: span 1;
  }

  .form{
    grid-template-columns: 1fr;
  }

  .contact-name,
  .contact-email,
  .contact-subject,
  .contact-message{
    grid-column-start: span 1;
  }

  footer {
    h3 {
      margin-top: 20px;
    }
    button {
      width: 100%;
    }
  }

  .subscribe form {
    flex-direction: column;
  }

  .copyright {
    text-align: center;
  }
}




/* smallest */
@media (max-width: 320px) {
  .dropdown:hover .top-nav ul,
  .dropdown:focus .top-nav ul {
    top: 90px;
    right: 60px;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .comment .image{
    display: none;
  }

  .comment-text{
    width: 100%;
  }

  .comment-text::before{
    display: none;
  }

  .footer-contact,
  .footer-recent,
  .subscribe {
    width: 90%;
  }
}