html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: "lora";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
}

button:hover {
  cursor: pointer;
}

.block {
  display: block;
}

.line {
  border-bottom: 1px solid #999999;
}

header {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "raleway";
  color: #2e2e2e;
}

header a {
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  color: #2e2e2e;
}

header a:hover,
header a:focus {
  color: #64a604;
}

.bars {
  display: none;
  font-size: 40px;
  margin: 0;
  padding-right: 10%;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.bars:hover,
.bars:focus {
  color: #64a604;
}

h1 {
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-top: 0;
  padding-left: 3%;
  padding-top: 3%;
}

.you-are-here {
  color: #64a604;
}

.cart a {
  position: relative;
  font-size: 20px;
}

.cart a::after {
  content: "2";
  position: absolute;
  background-color: #64a604;
  border-radius: 50%;
  bottom: 3px;
  right: 5px;
  height: 20px;
  width: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-header {
  background-image: url(../assets/home-1.jpeg);
}

.blog-header {
  background-image: url(../assets/blog-1.jpeg);
}

.contact-header {
  background-image: url(../assets/contact-1.jpeg);
}

h2 {
  font-family: "raleway";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 36px;
  text-transform: uppercase;
  color: #2e2e2e;
}

.recipes p {
  color: #333333;
}
.recipes h3 {
  font-size: 16px;
}
.recipes .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textbox-p {
  width: 70%;
  text-align: center;
  padding: 3% 0;
}

.recipes .txt-container,
.category-txt,
.recipes .img-container {
  width: 50%;
}

.green-line {
  border-bottom: 3px solid #64a604;
  width: 40px;
}

.click-me {
  background: #64a604;
  color: white;
  font-family: "raleway";
  text-transform: uppercase;
  padding: 13px 27px;
  border: 2px solid transparent;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.click-me:hover {
  background: white;
  color: #64a604;
  border: 2px solid #64a604;
}

.img-txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-txt {
  color: #333333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  padding-right: 3%;
  padding-top: 2%;
  background: #e6e6e6;
}
.category-txt h3 {
  color: #2e2e2e;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.category {
  width: 100%;
  padding-left: 20%;
}
.category p {
  width: 100%;
}

.side-icon {
  font-size: 30px;
  margin-left: -30px;
}

.img-absolute {
  position: relative;
  width: 30%;
}

.about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .txt-container p {
  text-align: center;
  color: #999999;
}

.sticker {
  position: absolute;
  width: 40%;
  top: -40%;
  right: -15%;
}

.new-line {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.testimonial {
  height: 100vh;
  background-color: #dded9a;
}
.testimonial h2 {
  margin: 0;
  padding-bottom: 1%;
}
.testimonial p {
  font-style: italic;
  width: 65%;
  text-align: center;
  padding-top: 1%;
}

.testimonial .txt-container,
.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote {
  position: relative;
  margin-bottom: 5%;
  font-size: 24px;
}

.open-quote,
.close-quote {
  position: absolute;
  color: white;
  opacity: 0.7;
  font-size: 30px;
}

.open-quote {
  top: 0;
  left: -10%;
}

.close-quote {
  bottom: 0;
  right: -10%;
}

.left-right {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.arrow {
  color: white;
  opacity: 0.7;
  font-size: 20px;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.arrow:hover {
  opacity: 1;
}

.recipe-title h2 {
  font-size: 46px;
  letter-spacing: 1.1px;
  margin-bottom: 0;
  margin-top: 5%;
}

a {
  color: #2e2e2e;
}

h3,
h4 {
  font-family: "raleway";
  text-transform: uppercase;
}

.recipe p {
  color: #333333;
  margin: 2% 0;
}

.posted-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-divider::after {
  content: "|";
  padding: 0 5px;
}

.tags,
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tags a,
.share a {
  padding-left: 5px;
}

.share a {
  margin: 10px;
  font-size: 20px;
}

.author-container {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-img {
  width: 20%;
}

.author-txt {
  background-color: #e6e6e6;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  -webkit-box-flex: 2.5;
      -ms-flex-positive: 2.5;
          flex-grow: 2.5;
  padding: 4%;
  margin-left: 5%;
}

.related-posts .line {
  margin: 3% 0;
  width: 100%;
}

.related-posts h4 {
  margin-bottom: 0;
}

.related-posts2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.related {
  width: 31%;
}

.related-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999999;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3%;
}
.comment h5 {
  font-family: "raleway";
  font-size: 14px;
  margin: 0;
  color: #2e2e2e;
}
.comment h5::after {
  content: "-";
  padding: 0 5px;
}
.comment .image {
  width: 7%;
}
.comment .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment .name p {
  margin: 0;
}

.comment-num {
  margin: 3% 0;
}

.comment-text {
  background-color: #e6e6e6;
  padding: 20px;
  width: 90%;
  position: relative;
}

.comment-text::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e6e6e6;
}

.comment-time {
  font-family: "raleway";
  font-size: 11px;
  color: #333333;
}

.leave-a-comment {
  color: #999999;
  margin-bottom: 10%;
}
.leave-a-comment h3 {
  color: #2e2e2e;
}
.leave-a-comment p {
  font-style: italic;
}

.comment-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 15px;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  font-family: "lora";
  padding: 15px;
}

.comment-box {
  grid-column-start: span 3;
  margin-bottom: 15px;
}

button.click-me {
  display: block;
}

.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.contact-form {
  width: 60%;
  padding-left: 15%;
  padding-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 15px;
  margin-bottom: 20px;
  margin-top: 5%;
}
.form input, .form textarea {
  width: 100%;
  background: #e6e6e6;
  border: none;
  color: #4d4d4d;
  padding: 15px;
}

.send-button {
  font-family: "raleway";
  font-size: 14px;
  text-transform: uppercase;
  color: #64a604;
  background: white;
  border: none;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.send-button i {
  font-size: 18px;
  padding-left: 3px;
  padding-top: 2px;
}

.send-button:hover,
.send-button:focus {
  color: #999999;
}

.contact-subject,
.contact-message {
  grid-column-start: span 2;
}

.contact-details {
  width: 40%;
  background-color: #e6e6e6;
}
.contact-details p {
  color: #333333;
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 5% 40% 5% 5%;
}

.weekdays {
  color: #2e2e2e;
  text-transform: uppercase;
  font-family: "raleway";
}

.italicize {
  font-style: italic;
}

.working-hours p {
  margin: 0;
}

.working-hours .italicize,
.contact-info p {
  color: #4d4d4d;
}

footer {
  background: #333333;
  font-size: 13px;
  color: #999999;
}

footer h3 {
  font-family: "raleway";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding-bottom: 3%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0;
}

.footer-contact,
.footer-recent,
.subscribe {
  width: 25%;
}

footer .logo {
  font-size: 36px;
  color: #64a604;
}

.subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

.subscribe-email {
  background: #4d4d4d;
  border: none;
  font-family: "lora";
  font-style: italic;
  color: #999999;
  padding-left: 5%;
  height: 40px;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer button {
  height: 40px;
  width: 40px;
  margin: 0;
  background: #64a604;
  border: none;
  font-size: 20px;
  color: white;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media a {
  color: white;
  font-size: 14px;
}

.copyright {
  background: #2e2e2e;
}

.polar {
  color: #64a604;
  text-transform: uppercase;
}

@media (max-width: 1215px) {
  .top-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .img-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-category div.img-container {
    width: 100%;
  }

  .category-txt {
    width: 100%;
    padding: 5%;
  }
}
/* landscape tablet and small desktops */
@media (max-width: 940px) {
  .recipes .img-container {
    width: 70%;
  }

  .recipes .txt-container h2 {
    margin-bottom: 0;
  }
  .recipes .txt-container p {
    margin-top: 0;
  }

  .author-img {
    width: 48%;
  }

  .related-posts2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .related {
    width: 45%;
  }

  .comment .image {
    width: 15%;
  }

  .comment-text {
    width: 80%;
  }

  .contact-me {
    padding-right: 20%;
  }
}
/* landscape phones and portrait tablets */
@media (max-width: 768px) {
  .top-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .bars {
    display: block;
    margin-right: 50px;
  }

  .top-nav ul {
    display: none;
  }

  .dropdown:hover .top-nav ul,
.dropdown:focus .top-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background: white;
    top: 40px;
    right: 50px;
  }

  .cart a::after {
    right: 0;
    bottom: 0;
  }

  .img-txt-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .recipes .img-container {
    width: 100%;
  }

  .recipes .txt-container {
    margin-bottom: 3%;
    width: 80%;
  }

  .img-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .img-absolute {
    width: 50%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .comment-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
  }

  .website {
    grid-column-start: span 2;
  }

  .comment-box {
    grid-column-start: span 2;
  }

  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-contact,
.footer-recent,
.subscribe {
    width: 80%;
    text-align: center;
  }

  .social-media {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 20px;
  }
  .social-media a {
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .contact-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .contact-form,
.contact-details {
    width: 100%;
    padding: 10%;
  }

  .contact-me {
    padding: 0;
  }
}
/* landscape phones and down */
@media (max-width: 480px) {
  .top-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 15%;
  }

  .bars {
    margin-right: 0;
  }

  .dropdown:hover .top-nav ul,
.dropdown:focus .top-nav ul {
    top: 160px;
    right: 135px;
  }

  .textbox-p {
    width: 100%;
  }

  .recipes .txt-container {
    width: 80%;
  }

  .category-txt {
    grid-template-columns: 1fr;
  }

  .category {
    padding: 3% 0% 3% 10%;
  }

  .img-absolute {
    width: 70%;
  }

  .about .txt-container {
    width: 80%;
  }

  .quote {
    font-size: 18px;
  }

  .open-quote {
    left: -20%;
  }

  .left-right {
    width: 50%;
  }

  .recipe-title {
    text-align: center;
  }

  .posted-by {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .posted-by .add-divider::after {
    display: none;
  }

  .tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .author-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .author-img,
.author-txt {
    width: 100%;
    margin: 5% 0;
  }

  .related-posts2 {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .related {
    width: 100%;
    margin: 5% 0;
  }

  .comment-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr;
  }

  .website,
.comment-box {
    grid-column-start: span 1;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .contact-name,
.contact-email,
.contact-subject,
.contact-message {
    grid-column-start: span 1;
  }

  footer h3 {
    margin-top: 20px;
  }
  footer button {
    width: 100%;
  }

  .subscribe form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .copyright {
    text-align: center;
  }
}
/* smallest */
@media (max-width: 320px) {
  .dropdown:hover .top-nav ul,
.dropdown:focus .top-nav ul {
    top: 90px;
    right: 60px;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .comment .image {
    display: none;
  }

  .comment-text {
    width: 100%;
  }

  .comment-text::before {
    display: none;
  }

  .footer-contact,
.footer-recent,
.subscribe {
    width: 90%;
  }
}